---
---

@import "{{ site.theme }}";

:root {
    --color-primary: #008009;
    --color-secondary: #275243;
    --color-text: #333;
}

body {
    font-size: 16px;
    color: var(--color-text);
}

a {
    color: var(--color-primary);
    text-decoration: underline;
}

a:hover, a:focus {
    color: var(--color-primary);
	font-weight: unset;
}

footer {
    display: none;
}

header {
	height: 100%;
	display: flex;
	flex-direction: column;
}

section h2, section h3 {
	margin-top: 3em;
}

blockquote {
	color: var(--color-secondary);
}


/** NAV **/
nav {
    overflow: scroll;
    flex-grow: 1;
}

#navlist {
    position: static;
    list-style: none;
    padding: 0;
}

nav li {
    color: var(--color-primary);
}
li a {
    text-decoration: none;
}

li.H3 {
    margin-left: 1em;
}

li.H4 {
    margin-left: 2em;
}


/* desktop */
@media print, screen and (min-width: 961px) {
    body {
        margin: 0;
        padding: 0;
    }


    .wrapper {
        width: 960px;
    }


    section {
        width: 600px;
    }
}

/* desktop */
@media print, screen and (min-width: 960px) {
    body {
        margin: 0;
        padding: 0;
    }


    .wrapper {
        width: 960px;
    }


    section {
        width: 600px;
    }
}

/* tablet */
@media print, screen and (max-width: 720px) {
    .logo {
      max-width: 300px;
      margin: auto;
    }
}